PORT=3001
NODE_ENV=development
TMB_APP_ID=
TMB_APP_KEY=
TMB_TRANSIT_BASE_URL=https://api.tmb.cat/v1/transit
TMB_IMETRO_BASE_URL=https://api.tmb.cat/v1/itransit
TRAM_CLIENT_ID=
TRAM_CLIENT_SECRET=
TRAM_OPEN_DATA_BASE_URL=https://opendata.tram.cat
FGC_OPEN_DATA_BASE_URL=https://dadesobertes.fgc.cat/api/explore/v2.1
