PORT=3001
NODE_ENV=development
TMB_APP_ID=
TMB_APP_KEY=
TMB_TRANSIT_BASE_URL=https://api.tmb.cat/v1/transit
TMB_IMETRO_BASE_URL=https://api.tmb.cat/v1/itransit
FGC_OPEN_DATA_BASE_URL=https://dadesobertes.fgc.cat/api/explore/v2.1
